# Node / Vite
frontend/node_modules
frontend/dist
frontend/.vite
frontend/.DS_Store

# PHP / Laravel
backend/vendor
backend/storage
backend/bootstrap/cache
backend/public/storage
backend/.DS_Store

# Docker / Datos
mysql-data
*.sql
*.sqlite

# Env
.env
backend/.env
frontend/.env
